.second{
    width: 100%;
    height: 39px;
    background-color: #182138;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}
.second ul{
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    display: flex;
}
.second span{
    font-size: 14px;
}
.second li{
    padding: 5px 5px;
    font-size: 15px;
    margin: 7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second-1{
    height: 70%;
    flex: 0.5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border: 1px solid transparent;
    padding-left: 20px;
    border-radius: 3px;
}
.second-1 div{
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.second-1 div i{
    margin-top: 8px;
}
.second-1 div span{
    margin-left: 5px;
    cursor: pointer;
}
.second-2{
    margin-left: 72px;
    position: absolute;
    overflow: hidden;
}
#menu-icon{
    padding: 5px 0px;
    border: 1px solid transparent;
}
#menu-icon:hover{
    border: 1px solid white;
}
.second-2 li:hover{
    border: 1px solid white;
}