.first {
    width: 100%;
    height: 60px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.first img {
    width: 118px;
    height: 85%;
    margin: 0 10px;
    margin-top: 0.5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.first {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex span,
i {
    color: white;
}

.logo {
    flex: 0.2;
    margin-left: -3px;
}

.map {
    flex: 0.3;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 0;
}

.map i {
    margin-top: 17px;
    font-size: 17px;
}

.map div {
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-display: column;
}

.map div span:first-child {
    font-weight: 400;
    font-size: 13px;
}

.map div span {
    font-weight: bold;
}

#nav-text {
    margin-left: -2px;
    width: 60px;
    font-size: 14px;
}

#nav-line1 {
    color: rgb(210, 210, 210);
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    display: inline-block;
    height: 39px;
}

#nav-line2 {
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    padding-bottom: 1px;
    line-height: 15px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    display: inline-block;
    text-size-adjust: 100%;
}

.right {
    justify-content: space-between;
    flex: 0.36;
    margin-right: 10px;
    align-items: center;
}

.input {
    justify-content: space-between;
    background-color: white;
    font-family: Arial, sans-serif;
    flex: 0.65;
    height: 42px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
    align-items: left;
    overflow: hidden;
}

.input input {
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
}

.input .fa-search {
    color: rgb(51, 51, 51);
    padding: 10px 13px;
    font-size: 20px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
}

.input div {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding: 6px 0;
}

.input div span {
    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51);
    padding: 6px 10px;
    font-size: 13px;
    cursor: pointer;
}

.fa-caret-down {
    color: rgb(170, 170, 170);
    cursor: pointer;
    padding: 5px;
    font-size: 8px;
}

.sign i {
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-left: 4px;
}

.lang {
    padding: 10px;
    margin-bottom: 6px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
}

.lang i {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 2px;
}

.right img {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10;
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: -15px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.sign span:first-child {
    font-weight: 400;
    font-size: 13px;
}

.sign span {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.flex .ac .span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}

.fa-shopping-cart {
    font-size: 30px;
}

.ca {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.ac {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.cart {
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 6px;
}

.cart p {
    position: absolute;
    font-weight: bolder;
    color: #131a22;
    top: 7px;
}


.lang p {
    margin-top: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.logo img:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.map:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.input .fa-search:hover{
    background-color: #febd46;
}

.input div:hover{
    background-color: rgb(204,202,202);
    color: black;
}

.lang:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.sign:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.cart:hover {
    border: 1px solid white;
    border-radius: 3px;
}