.nav-flex {
    position: static;
    z-index: 5;
    display: flex;
    flex-flow: column nowrap;
}

.first {
    width: 100%;
    height: 60px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
}

.first img {
    width: 118px;
    height: 85%;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.first {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex span,
i {
    color: white;
}

.logo {
    flex: 0.2;
    margin-left: -3px;
}

.map {
    flex: 0.3;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 0;
}

.map i {
    margin-left: 3px;
    margin-top: 14px;
    font-size: 16px;
}

.map div {
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-display: column;
}

.map div span:first-child {
    font-weight: 400;
    font-size: 13px;
}

.map div span {
    font-weight: bold;
}

#nav-text {
    padding: 2px;
    margin: 2px;
    width: 60px;
    font-size: 12px;
}

#nav-line1 {
    color: rgb(210, 210, 210);
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    height: 39px;
}

#nav-line2 {
    box-sizing: border-box;
    clear: both;
    font-size: 14px;
    padding-bottom: 1px;
    line-height: 15px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    text-size-adjust: 100%;
}

.right {
    justify-content: space-between;
    flex: 0.36;
    margin-right: 10px;
    align-items: center;
}

.input {
    justify-content: space-between;
    background-color: white;
    flex: 0.65;
    height: 42px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
    align-items: left;
    overflow: hidden;
}

.input input {
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
}

.input .fa-search {
    color: rgb(51, 51, 51);
    padding: 10px 13px;
    font-size: 20px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
}

.input div {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding: 6px 0;
}

.input div span {
    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51);
    padding: 6px 10px;
    font-size: 13px;
    cursor: pointer;
}

.fa-caret-down {
    color: rgb(170, 170, 170);
    cursor: pointer;
    padding: 5px;
    font-size: 8px;
}

.sign i {
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-left: 4px;
}

.lang {
    padding: 10px;
    margin-bottom: 6px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
}

.lang i {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 2px;
}

.right img {
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10;
    cursor: pointer;
}

.sign {
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: -15px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.sign span:first-child {
    font-weight: 400;
    font-size: 13px;
}

.sign span {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.flex .ac .span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}

.fa-shopping-cart {
    font-size: 30px;
}

.ca {
    font-size: 14px;
    font-weight: bold;
}

.ac {
    font-size: 14px;
    font-weight: bold;
}

.cart {
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 6px;
}

.cart p {
    position: absolute;
    font-weight: bolder;
    color: #131a22;
    top: 7px;
}


.lang p {
    margin-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.logo img:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.map:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.input .fa-search:hover {
    background-color: #febd46;
}

.input div:hover {
    background-color: rgb(204, 202, 202);
    color: black;
}

.lang:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.sign:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.cart:hover {
    border: 1px solid white;
    border-radius: 3px;
}

#nav-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    display: none;
    background-color: #000;
    -ms-filter: opacity(.6);
    filter: alpha(opacity=60);
    -webkit-opacity: .6;
    -moz-opacity: .6;
    -o-opacity: .6;
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 4;
}

.nav-coreFlyout {
    margin: -3px 0 0 -2px;
    padding-bottom: 7px;
    width: 240px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-radius: 0\9;
}

.nav-flyout {
    z-index: 10;
    position: absolute;
    display: block;
    overflow: visible !important;
    background: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 14px;
    margin: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    zoom: 1;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
}

.nav-tpl-discoveryPanelList .nav-item, .nav-tpl-discoveryPanelSummary .nav-item, .nav-tpl-itemList .nav-item {
    position: relative;
    display: block;
    clear: both;
    font-family: inherit;
    line-height: 16px;
    padding: 0 0 9px;
    margin: 0;
    text-decoration: none;
    cursor: default;
}

.icp-radio {
    margin: 0 .5em 0 0;
    position: relative;
    top: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(https://m.media-amazon.com/images/S/sash/fe2UeLQmJ11kKHN.png);
    background-position: -75px -2px;
}

.nav-divider {
    position: relative;
    display: block;
    line-height: 1px;
    height: 1px;
    background-color: #EEE;
    margin-bottom: 9px;
}

.icp-flyout-flag {
    margin: 0 .5em 0 0;
    position: relative;
    top: 4px;
    display: inline-block;
    width: 17px;
    height: 13px;
    background-position: -170px -282px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #007185;
}

.icp-flyout-learn-more {
    margin-left: 5px;
}

.icp-flyout-change {
    float: right;
}

.icp-mkt-change-lnk {
    margin-left: 25px;
    margin-top: 10px;
    color: #0066C0;
}

.nav-flyout .nav-arrow {
    margin-left: -1px;
    border-style: solid;
    _border-style: dashed;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #ccc;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -9px;
}

.nav-flyout .nav-arrow-inner {
    border-style: solid;
    _border-style: dashed;
    border-width: 9px;
    border-color: transparent;
    border-top-width: 0;
    border-bottom: 9px solid #fff;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 1px;
    left: -9px;
}