.main{
    position: relative;
    top: -320px;
}

.card-product-container{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.card-product-nested-card{
    display: flex;
    max-width: 305px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-nested img{
    width: 128px;
    height: 102px;
    object-fit: contain;
}

.card-nested p{
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.card-product{
    display: flex;
    flex-direction: column;
    max-width: 305px;
    min-height: 430px;
    margin-left: 10px;
    background-color: white;
}

.card-product h3{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
}

.card-product-btn{
    font-size: 13px;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007185;
    position: absolute;
    bottom: 40;
}