.main{
    position: relative;
    margin-top: -320px;
}

.card-product-container{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.card-product-nested-card{
    display: flex;
    max-width: 305px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-nested img{
    width: 128px;
    height: 102px;
    object-fit: contain;
    cursor: pointer;
}

.card-nested p{
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card-product{
    display: flex;
    flex-direction: column;
    max-width: 305px;
    min-height: 430px;
    margin-left: 10px;
    background-color: white;
}

.card-product h3{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
}

.card-product-btn{
    font-size: 13px;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007185;
    position: absolute;
    bottom: 40;
}
.card-product-btn:hover{
    color: rgb(175, 5, 5);
    text-decoration: underline;
}
.box-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 305px;
}
.box-b .best{
    max-width: 305px;
    background-color: white;
    height: 150px;
    width: 315px;   
}
.best h3{
    font-size: 21px;
    margin: 20px;
    margin-bottom: 15px;
}
.best button{
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgb(211,207,207);
    color: rgb(42,42,42);
    background-color: #ffd814;
    width: 270px;
    margin-left: 20px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.best button:hover{
    background-color: #e3b317c4;
}
.box-c img{
    margin:0 20px;
    max-width: 305px;
    width: 260px;
    cursor: pointer;
    height: 280px;
    align-self: center;
}