* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    background-color: #eaeded;
    box-sizing: border-box;
}
